@model Author

<h1 class="text-center display-4 mb-2">Aritcles of @Model.Nickname</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var article in Model.Articles)
    {
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div class="badge bg-secondary fw-normal">
                            Category: <span class="fw-bold">
                                <a class="text-white" href="@Url.Action("Category", "Category", new {slug = article.Category.Slug})">@article.Category.Name</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">@article.Title</h5>
                    @{
                        var contentStripped = article.Content.StripHtmlTags();
                        var content = contentStripped.Substring(0, contentStripped.Length < 100 ? contentStripped.Length : 100);
                    }
                    <p class="card-text">@content @(contentStripped.Length < 100 ? "" : "...")</p>
                    <a href="@Url.Action("CategoryArticle", "Category", new {categorySlug = article.Category.Slug, articleSlug = article.Slug})" class="btn btn-primary btn-sm">Read article</a>
                </div>
                <div class="card-footer">
                    @foreach (var tag in article.Tags)
                    {
                        <div class="badge bg-dark small">
                                 <a href="@Url.Action("Tag", "Tag", new {slug = tag.Name})" class="text-white">@tag.Name</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>