@model IEnumerable<Article>

@{
    ViewData["Title"] = "Home Page";
}
@section headerBgPartial {
    @await Html.PartialAsync("_HeaderBgPartial", new HeaderPartialModel {
        BgUrl = Url.Content("/assets/img/home-bg.jpg"),
        SubHeader = "A clean blog about many things!",
        Title = "Your favourite blog!"
    })
}

    <div class="text-center">
        <h1 class="display-2">Last Articles</h1>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var article in Model)
    {
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div class="badge bg-secondary fw-normal">
                            Category: <span class="fw-bold">
                                <a class="text-white" href="@Url.Action("Category", "Category", new {slug = article.Category.Slug})">@article.Category.Name</a>
                            </span>
                        </div>
                        <div class="badge bg-primary fw-normal">
                            Author: <span class="fw-bold">
                                <a class="text-white" href="@Url.Action("Index", "Author", new {nickname = article.Author.Nickname})">@article.Author.Nickname</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">@article.Title</h5>
                    @{
                        var contentStripped = article.Content.StripHtmlTags();
                        var content = contentStripped.Substring(0, contentStripped.Length < 100 ? contentStripped.Length : 100);
                    }
                    <p class="card-text">@content @(contentStripped.Length < 100 ? "" : "...")</p>
                    <a href="@Url.Action("CategoryArticle", "Category", new { categorySlug = article.Category.Slug, articleSlug = article.Slug })" class="btn btn-primary btn-sm">Read article</a>
                </div>
                <div class="card-footer">
                    @foreach (var tag in article.Tags)
                    {
                        <div class="badge bg-dark small">
                            <a href="@Url.Action("Tag", "Tag", new {slug = tag.Name})" class="text-white">@tag.Name</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
